/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/_scope.scss */
.scope {
  position: absolute;
  left: 50%;
  top: 50%;
}
/* line 22, ../sass/_scope.scss */
.scope header {
  display: inline-block;
  background-color: white;
  position: absolute;
  padding: 0 10px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

/* line 31, ../sass/_scope.scss */
#hold {
  width: 900px;
  height: 900px;
  margin-left: -451px;
  margin-top: -451px;
  border-radius: 451px;
  border: 1px solid black;
}
/* line 11, ../sass/_scope.scss */
#hold header {
  left: 450px;
  top: -5px;
}

/* line 35, ../sass/_scope.scss */
#assess {
  width: 720px;
  height: 720px;
  margin-left: -364px;
  margin-top: -364px;
  border-radius: 364px;
  border: 4px double black;
}
/* line 11, ../sass/_scope.scss */
#assess header {
  left: 360px;
  top: -5px;
}

/* line 39, ../sass/_scope.scss */
#trial {
  width: 560px;
  height: 560px;
  margin-left: -281px;
  margin-top: -281px;
  border-radius: 281px;
  border: 1px solid black;
}
/* line 11, ../sass/_scope.scss */
#trial header {
  left: 280px;
  top: -5px;
}

/* line 43, ../sass/_scope.scss */
#adopt {
  width: 320px;
  height: 320px;
  margin-left: -161px;
  margin-top: -161px;
  border-radius: 161px;
  border: 1px solid black;
}
/* line 11, ../sass/_scope.scss */
#adopt header {
  left: 160px;
  top: -5px;
}

/* line 47, ../sass/_scope.scss */
.vertical-line, .horizontal-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  margin: 0 0 0 -500px;
}

/* line 56, ../sass/_scope.scss */
.vertical-line {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 3, ../sass/_points.scss */
#points li {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 5px;
  white-space: nowrap;
}

/* line 15, ../sass/_points.scss */
.unchanged:before,
.changed:before,
.new:before {
  padding-right: 2px;
  color: #11A2E1;
}

/* line 20, ../sass/_points.scss */
.unchanged:before {
  content: "\25B2";
  font-size: 12px;
}

/* line 25, ../sass/_points.scss */
.changed:before {
  content: "\2726";
}

/* line 29, ../sass/_points.scss */
.new:before {
  content: "\2738";
}

/* line 1, ../sass/_dialog.scss */
#point-detail {
  display: none;
}

/* line 5, ../sass/_dialog.scss */
#point-detail div {
  margin: 10px 0;
}

/* line 10, ../sass/_dialog.scss */
#export-db textarea,
#description {
  padding: 5px;
}

/* line 15, ../sass/_dialog.scss */
#description {
  width: 400px;
  padding: 5px;
  background-color: white;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 25, ../sass/_dialog.scss */
#export-db {
  display: none;
}

/* line 29, ../sass/_dialog.scss */
#export-db textarea {
  width: 600px;
}

/* line 1, ../sass/_sidebar.scss */
.tips li {
  margin-bottom: 5px;
}

/* line 6, ../sass/_sidebar.scss */
.tips,
.operations {
  width: 200px;
  border: 1px solid black;
}

/* line 12, ../sass/_sidebar.scss */
.tips legend,
.operations legend {
  padding: 0 5px;
}

/* line 16, ../sass/_sidebar.scss */
.tips {
  margin: 10px;
  padding: 10px;
}

/* line 21, ../sass/_sidebar.scss */
.operations {
  margin: 10px;
  padding: 10px;
}

/* line 8, ../sass/_base.scss */
body {
  font-size: 16px;
}

/* line 13, ../sass/_base.scss */
.sidebar,
.content {
  display: inline-block;
  vertical-align: top;
}

/* line 18, ../sass/_base.scss */
.content {
  position: relative;
  width: 1050px;
  height: 1050px;
}

/* line 24, ../sass/_base.scss */
.sidebar {
  position: fixed;
  top: 10px;
  right: 10px;
}
