/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, /Users/twer/.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/twer/.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/twer/.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/twer/.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/twer/.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/twer/.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/twer/.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/twer/.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Users/twer/.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, /Users/twer/Documents/Projects/github/TechRadar/sass/_scope.scss */
.scope {
  position: absolute;
  left: 50%;
  top: 50%;
}
/* line 22, /Users/twer/Documents/Projects/github/TechRadar/sass/_scope.scss */
.scope header {
  display: inline-block;
  background-color: white;
  position: absolute;
  padding: 0 10px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

/* line 31, /Users/twer/Documents/Projects/github/TechRadar/sass/_scope.scss */
#hold {
  width: 600px;
  height: 600px;
  margin-left: -301px;
  margin-top: -301px;
  border-radius: 301px;
  border: 1px solid black;
}
/* line 11, /Users/twer/Documents/Projects/github/TechRadar/sass/_scope.scss */
#hold header {
  left: 300px;
  top: -5px;
}

/* line 35, /Users/twer/Documents/Projects/github/TechRadar/sass/_scope.scss */
#assess {
  width: 480px;
  height: 480px;
  margin-left: -244px;
  margin-top: -244px;
  border-radius: 244px;
  border: 4px double black;
}
/* line 11, /Users/twer/Documents/Projects/github/TechRadar/sass/_scope.scss */
#assess header {
  left: 240px;
  top: -5px;
}

/* line 39, /Users/twer/Documents/Projects/github/TechRadar/sass/_scope.scss */
#trial {
  width: 360px;
  height: 360px;
  margin-left: -181px;
  margin-top: -181px;
  border-radius: 181px;
  border: 1px solid black;
}
/* line 11, /Users/twer/Documents/Projects/github/TechRadar/sass/_scope.scss */
#trial header {
  left: 180px;
  top: -5px;
}

/* line 43, /Users/twer/Documents/Projects/github/TechRadar/sass/_scope.scss */
#adopt {
  width: 240px;
  height: 240px;
  margin-left: -121px;
  margin-top: -121px;
  border-radius: 121px;
  border: 1px solid black;
}
/* line 11, /Users/twer/Documents/Projects/github/TechRadar/sass/_scope.scss */
#adopt header {
  left: 120px;
  top: -5px;
}

/* line 47, /Users/twer/Documents/Projects/github/TechRadar/sass/_scope.scss */
.vertical-line, .horizontal-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  margin: 0 0 0 -350px;
}

/* line 56, /Users/twer/Documents/Projects/github/TechRadar/sass/_scope.scss */
.vertical-line {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 3, /Users/twer/Documents/Projects/github/TechRadar/sass/_points.scss */
#points li {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  background-color: white;
}

/* line 11, /Users/twer/Documents/Projects/github/TechRadar/sass/_points.scss */
.unchanged:before {
  content: "\25A3";
}

/* line 15, /Users/twer/Documents/Projects/github/TechRadar/sass/_points.scss */
.changed:before {
  content: "\25B2";
}

/* line 20, /Users/twer/Documents/Projects/github/TechRadar/sass/_points.scss */
.tips,
.operations {
  width: 200px;
  border: 1px solid black;
}

/* line 26, /Users/twer/Documents/Projects/github/TechRadar/sass/_points.scss */
.tips legend,
.operations legend {
  padding: 0 5px;
}

/* line 30, /Users/twer/Documents/Projects/github/TechRadar/sass/_points.scss */
.tips {
  margin: 10px;
  padding: 10px;
}

/* line 35, /Users/twer/Documents/Projects/github/TechRadar/sass/_points.scss */
.operations {
  margin: 10px;
  padding: 10px;
}

/* line 1, /Users/twer/Documents/Projects/github/TechRadar/sass/_dialog.scss */
#point-detail {
  display: none;
}

/* line 5, /Users/twer/Documents/Projects/github/TechRadar/sass/_dialog.scss */
#point-detail div {
  margin: 10px 0;
}

/* line 9, /Users/twer/Documents/Projects/github/TechRadar/sass/_dialog.scss */
#description {
  width: 400px;
  padding: 5px;
  background-color: white;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 20, /Users/twer/Documents/Projects/github/TechRadar/sass/_dialog.scss */
#export-db {
  display: none;
}
