@import "compass/css3/transform";

@mixin special-scope($radius-length, $border-width, $border-type) {
  width: $radius-length * 2;
  height: $radius-length * 2;
  margin-left: - $radius-length - $border-width;
  margin-top: - $radius-length - $border-width;
  border-radius: $radius-length + $border-width;
  border: $border-width $border-type black;

  header {
    left: $radius-length;
    top: -5px;
  }
}

body {
}

.scope {
  position: absolute;
  left: 50%;
  top: 50%;

  header {
    display: inline-block;
    background-color: white;
    position: absolute;
    padding: 0 10px;
    @include rotate(10deg);
  }
}

#hold {
  @include special-scope(300px, 1px, solid);
}

#assess {
  @include special-scope(240px, 4px, double);
}

#trial {
  @include special-scope(180px, 1px, solid);
}

#adopt {
  @include special-scope(120px, 1px, solid);
}