$basic-font-size: 16px;

@import "compass/css3/transform";
@import "compass/css3/user-interface";

@import "scope";
@import "points";
@import "dialog";
@import "sidebar";

body {
  font-size: $basic-font-size;
}

.sidebar,
.content {
  display: inline-block;
  vertical-align: top;
}

.content {
  position: relative;
  width: 1050px;
  height: 1050px;
}

