$basic-font-size: 16px;
$background-color: white;
$content-basic-color: #BEBEBE;

@import "compass/css3/transform";
@import "compass/css3/user-interface";
@import "compass/css3/transform";
@import "compass/css3/images";

@import "scope";
@import "quadrant";
@import "points";
@import "dialog";
@import "sidebar";

input,
textarea {
  padding: 5px;
  border: 1px solid black;
}

body {
  font-size: $basic-font-size;
  background-color: $background-color;
}

.sidebar,
.content {
  display: inline-block;
  vertical-align: top;
}

.content {
  position: relative;
  width: 1050px;
  height: 1050px;
}

#sidebar-switcher {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 10px;
  left: -32px;
  background-color: #BEBEBE;
  line-height: 30px;
  text-align: center;
  border-radius: 5px 0 0 5px;
  border: 1px solid #6B6B6B;
  border-right: none;
  cursor: pointer;
}

