#point-detail {
  display: none;
}

#point-detail div {
  margin: 10px 0;
}

#description {
  width: 400px;
  border: 1px solid black;
  line-height: 25px;
  padding: 5px;
  background-color: white;
}