#point-detail {
  display: none;
}

#point-detail div {
  margin: 10px 0;
}

#export-db textarea,
#description {
  padding: 5px;
}

#description {
  width: 400px;
  padding: 5px;
  background-color: white;
}

#export-db {
  display: none;
}

#export-db textarea {
  width: 600px;
}