#points li {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 3px 3px $background-color;
  line-height: 4px;
  white-space: nowrap;
  font-size: $basic-font-size - 2;
  @include user-select(none);
  background-color: $background-color;
}

.unchanged:before,
.changed:before,
.new:before {
  padding-right: 2px;
  color: #11A2E1;
  text-shadow: 1px 1px 1px gray;
}

.unchanged:before {
  content: "\25B2";
  font-size: $basic-font-size - 4;
}

.changed:before {
  content: "\2726";
}

.new:before {
  content: "\2738";
}