@import "compass/css3/user-interface";

#points li {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  background-color: white;
  padding-left: 5px;
}

.unchanged:before,
.changed:before,
.new:before {
  padding-right: 2px;
}

.unchanged:before {
  content: "\25B2";
  font-size: $basic-font-size - 4;
}

.changed:before {
  content: "\2726";
}

.new:before {
  content: "\2738";
}