@import "compass/css3/user-interface";

#points li {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  background-color: white;
}

.unchanged:before {
  content: "\25A3";
}

.changed:before {
  content: "\25B2";
}

.tips,
.operations {
  width: 200px;
  border: 1px solid black;
}

.tips legend,
.operations legend {
  padding: 0 5px;
}

.tips {
  margin: 10px;
  padding: 10px;
}

.operations {
  margin: 10px;
  padding: 10px;
}