$quadrant-header-height: 50px;
$quadrant-header-width: 230px;

.vertical-line, .horizontal-line {
  $line-length: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $line-length;
  margin: 0 0 0 0-( $line-length / 2 );
  border: none;
  height: 2px;
  background-color: $content-basic-color;
}

.vertical-line {
  @include rotate(90deg);
}

.quadrant {
  @include user-select(none);
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;

  header {
    color: $content-basic-color;
    font-size: $basic-font-size + 30;
    width: $quadrant-header-width;
    line-height: $quadrant-header-height;
  }
}

#techniques {
  margin-left: 0 - $hold-radius-length * 0.7 - $quadrant-header-width;
  margin-top: 0 - $hold-radius-length * 0.7 - $quadrant-header-height;
  text-align: right;
}

#tools {
  margin-left: $hold-radius-length * 0.7;
  margin-top: 0 - $hold-radius-length * 0.7 - $quadrant-header-height;
  text-align: left;
}

#platforms {
  margin-left: 0 - $hold-radius-length * 0.7 - $quadrant-header-width;
  margin-top: $hold-radius-length * 0.7;
  text-align: right;
}

#languages {
  margin-left: $hold-radius-length * 0.7;
  margin-top: $hold-radius-length * 0.7;
  text-align: left;
}