@mixin special-scope($radius-length, $border-width, $border-type) {
  width: $radius-length * 2;
  height: $radius-length * 2;
  margin-left: 0 - $radius-length - $border-width;
  margin-top: 0 - $radius-length - $border-width;
  border-radius: $radius-length + $border-width;
  border: $border-width $border-type $content-basic-color;

  header {
    left: $radius-length;
    top: -4 - $border-width;
  }
}

.scope {
  position: absolute;
  left: 50%;
  top: 50%;
  @include user-select(none);
  cursor: default;

  header {
    display: inline-block;
    background-color: $background-color;
    box-shadow: 0 0 2px 2px $background-color;
    margin-left: 10px;
    position: absolute;
    @include rotate(6deg);
    font-size: $basic-font-size + 2;
    color: #6b6b6b;
    font-weight: bold;
  }
}

#hold {
  @include special-scope(450px, 2px, solid);
}

#assess {
  @include special-scope(360px, 6px, double);
}

#trial {
  @include special-scope(280px, 2px, solid);
}

#adopt {
  @include special-scope(160px, 2px, solid);
}