$scope-basic-color: #BEBEBE;

@mixin special-scope($radius-length, $border-width, $border-type) {
  width: $radius-length * 2;
  height: $radius-length * 2;
  margin-left: 0 - $radius-length - $border-width;
  margin-top: 0 - $radius-length - $border-width;
  border-radius: $radius-length + $border-width;
  border: $border-width $border-type $scope-basic-color;

  header {
    left: $radius-length;
    top: -4 - $border-width;
  }
}

.scope {
  position: absolute;
  left: 50%;
  top: 50%;

  header {
    display: inline-block;
    background-color: white;
    position: absolute;
    padding: 0 10px;
    @include rotate(6deg);
    font-size: $basic-font-size + 2;
    color: #6b6b6b;
    font-weight: bold;
  }
}

#hold {
  @include special-scope(450px, 2px, solid);
}

#assess {
  @include special-scope(360px, 6px, double);
}

#trial {
  @include special-scope(280px, 2px, solid);
}

#adopt {
  @include special-scope(160px, 2px, solid);
}

.vertical-line, .horizontal-line {
  $line-length: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $line-length;
  margin: 0 0 0 0-( $line-length / 2 );
  border: none;
  height: 2px;
  background-color: $scope-basic-color;
}

.vertical-line {
  @include rotate(90deg);
}