.sidebar {
  position: fixed;
  top: 10px;
  right: 10px;

  h2 {

  }

  header {
    background-color: #6b6b6b;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }

  section {
    width: 200px;
    border: 1px solid #3A3A39;
    margin: 10px;
  }

  ul {
    padding: 5px;
  }
  
  li {
    margin: 5px 0;
  }
  
  a {
    color: black;
  }

  a:hover {
    text-decoration: none;
  }
}