/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p290@TechRadar/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../../sass/_scope.scss */
.scope {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}
/* line 22, ../../sass/_scope.scss */
.scope header {
  display: inline-block;
  background-color: white;
  box-shadow: 0 0 2px 2px white;
  margin-left: 10px;
  position: absolute;
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
  font-size: 18px;
  color: #6b6b6b;
  font-weight: bold;
}

/* line 35, ../../sass/_scope.scss */
#hold {
  width: 900px;
  height: 900px;
  margin-left: -452px;
  margin-top: -452px;
  border-radius: 452px;
  border: 2px solid #bebebe;
}
/* line 9, ../../sass/_scope.scss */
#hold header {
  left: 450px;
  top: -6px;
}

/* line 39, ../../sass/_scope.scss */
#assess {
  width: 720px;
  height: 720px;
  margin-left: -366px;
  margin-top: -366px;
  border-radius: 366px;
  border: 6px double #bebebe;
}
/* line 9, ../../sass/_scope.scss */
#assess header {
  left: 360px;
  top: -10px;
}

/* line 43, ../../sass/_scope.scss */
#trial {
  width: 560px;
  height: 560px;
  margin-left: -282px;
  margin-top: -282px;
  border-radius: 282px;
  border: 2px solid #bebebe;
}
/* line 9, ../../sass/_scope.scss */
#trial header {
  left: 280px;
  top: -6px;
}

/* line 47, ../../sass/_scope.scss */
#adopt {
  width: 320px;
  height: 320px;
  margin-left: -162px;
  margin-top: -162px;
  border-radius: 162px;
  border: 2px solid #bebebe;
}
/* line 9, ../../sass/_scope.scss */
#adopt header {
  left: 160px;
  top: -6px;
}

/* line 1, ../../sass/_quadrant.scss */
.vertical-line, .horizontal-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  margin: 0 0 0 -500px;
  border: none;
  height: 2px;
  background-color: #bebebe;
}

/* line 13, ../../sass/_quadrant.scss */
.vertical-line {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 17, ../../sass/_quadrant.scss */
.quadrant {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  position: absolute;
}
/* line 22, ../../sass/_quadrant.scss */
.quadrant header {
  color: #bebebe;
  font-size: 46px;
}

/* line 28, ../../sass/_quadrant.scss */
#techniques {
  top: 20%;
  left: 5%;
}

/* line 33, ../../sass/_quadrant.scss */
#tools {
  top: 20%;
  left: 80%;
}

/* line 38, ../../sass/_quadrant.scss */
#platforms {
  top: 80%;
  left: 5%;
}

/* line 43, ../../sass/_quadrant.scss */
#languages {
  top: 80%;
  left: 80%;
}

/* line 1, ../../sass/_points.scss */
#points li {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 3px 3px white;
  line-height: 4px;
  white-space: nowrap;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: white;
}

/* line 17, ../../sass/_points.scss */
.unchanged:before,
.changed:before,
.new:before {
  padding-right: 2px;
  color: #11A2E1;
  text-shadow: 1px 1px 1px gray;
}

/* line 23, ../../sass/_points.scss */
.unchanged:before {
  content: "\25B2";
  font-size: 12px;
}

/* line 28, ../../sass/_points.scss */
.changed:before {
  content: "\2726";
}

/* line 32, ../../sass/_points.scss */
.new:before {
  content: "\2738";
}

/* line 1, ../../sass/_dialog.scss */
#point-detail {
  display: none;
}

/* line 5, ../../sass/_dialog.scss */
#point-detail div {
  margin: 10px 0;
}

/* line 10, ../../sass/_dialog.scss */
#export-db textarea,
#description {
  padding: 5px;
}

/* line 14, ../../sass/_dialog.scss */
#description {
  width: 400px;
  padding: 5px;
  background-color: white;
}

/* line 20, ../../sass/_dialog.scss */
#export-db {
  display: none;
}

/* line 24, ../../sass/_dialog.scss */
#export-db textarea {
  width: 600px;
}

/* line 1, ../../sass/_sidebar.scss */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  border-bottom: 1px solid #6b6b6b;
  border-left: 1px solid #6b6b6b;
}
/* line 8, ../../sass/_sidebar.scss */
.sidebar header {
  background-color: #6b6b6b;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
  padding: 5px;
}
/* line 16, ../../sass/_sidebar.scss */
.sidebar section {
  width: 200px;
}
/* line 20, ../../sass/_sidebar.scss */
.sidebar ul {
  padding: 5px;
}
/* line 24, ../../sass/_sidebar.scss */
.sidebar li {
  margin: 5px 0;
}
/* line 28, ../../sass/_sidebar.scss */
.sidebar a {
  color: black;
}
/* line 32, ../../sass/_sidebar.scss */
.sidebar a:hover {
  text-decoration: none;
}

/* line 16, ../../sass/_base.scss */
input,
textarea {
  padding: 5px;
  border: 1px solid black;
}

/* line 21, ../../sass/_base.scss */
body {
  font-size: 16px;
  background-color: white;
}

/* line 27, ../../sass/_base.scss */
.sidebar,
.content {
  display: inline-block;
  vertical-align: top;
}

/* line 32, ../../sass/_base.scss */
.content {
  position: relative;
  width: 1050px;
  height: 1050px;
}
